<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  <h4 class="modal-title">选择科目和年级</h4>
</div>
<div class="modal-body selectLevelDialogBodySection">
  <div style="font-size:18px;">
    科目: {{ subject }}
  </div>
  <div id="subjectLevelTable">
      <hr />
      <table style="table-layout:fixed;">
        <tr>
            <td style="vertical-align:top">
                <h4 class="control-label"> 年级列表 </h4>
                 <div class="col-md-12 levelList pre-scrollable" style="height:200px;border-style:groove">
                    <div ng-repeat="grade in gradeList" style="margin-top:10px">
                        <label class="btn btn-primary">
                            <input type="radio" name="options"
                                   id="{{ grade }}"
                                   ng-click="selectGrade(grade)"> grade
                        </label>
                    </div>
                </div>
            </td>

            <td>
                <div class="col-md-1" />
            </td>

            <td style="vertical-align:top">
                <h4 class="control-label"> 选择已学内容 </h4>
                <div class="col-md-12 pre-scrollable col-md-12"
                     style="height:200px;border-style:groove">
                    <div ng-repeat="point in currPointList" style="margin-top:10px">
                        <label class="btn btn-primary">
                            <input type="check" name="options"
                                   id="{{ point.point_name }}"
                                   ng-click="clickPoint(point)"> point.desc
                        </label>
                    </div>
                </div>
            </td>
        </tr>
      </table>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
  <button type="button" class="btn btn-primary" id="btnOK" ng-click="createChallenge()">确定</button>
</div>
